<p>about works!</p>

<!-- 
<div class="hero-image">
        <div class="hero-text">
          <h1 style="font-size:50px">Binal Patel</h1>
          <p>And I'm nature Lover  </p>
          <p>
                Email : binal123@gmail.com
          </p>
              Contact No: 5656565656
         
        </div>
      </div> -->

      <div class="container">
            <img class="main-img" src="https://c4.wallpaperflare.com/wallpaper/69/331/615/cats-cat-monochrome-pet-hd-wallpaper-preview.jpg" alt="">
            
            <a class="email" href="#">binal.patel.sa@gmail.com</a>
            <h1>Snap Service</h1>
            <a href="" class="nav1"> Portfolio </a>
                
                <a href="" class="nav2"> Session Info </a>
                <a href="" class="nav3"> About </a>
                <a href="" class="nav4"> Contact</a>
            </div>